@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
	background: rgb(11, 39, 57);
	background: -moz-linear-gradient(135deg, rgba(11, 39, 57, 1) 0%, rgba(58, 27, 26, 1) 64%, rgba(65, 11, 0, 1) 100%);
	background: -webkit-linear-gradient(135deg, rgba(11, 39, 57, 1) 0%, rgba(58, 27, 26, 1) 64%, rgba(65, 11, 0, 1) 100%);
	background: linear-gradient(135deg, rgba(11, 39, 57, 1) 0%, rgba(58, 27, 26, 1) 64%, rgba(65, 11, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0b2739",endColorstr="#410b00",GradientType=1);
}

#main-header {
	position: fixed;
	top: 0px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
	z-index: 10;
	-webkit-transition: background-color 0.5s, color 0.5s, opacity 0.5s ease-in-out, -webkit-transform 0.5s;
	transition: background-color 0.5s, color 0.5s, opacity 0.5s ease-in-out, -webkit-transform 0.5s;
	transition: background-color 0.5s, color 0.5s, transform 0.5s, opacity 0.5s ease-in-out;
	transition: background-color 0.5s, color 0.5s, transform 0.5s, opacity 0.5s ease-in-out, -webkit-transform 0.5s;
}

.initial-header {
	padding: 2rem;
	background: transparent;
}

.scrolled-header {
	padding: 1rem;
	background-color: #e2e6e9;
}
